.services{
    background: linear-gradient(180deg , #0c0c1d, #111132);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .textContiner{
        flex: 1;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap :20px;

        p{
            font-weight: 200;
            font-size: 20px;
            color: gray;
            text-align: right;
        }

        hr{
            width: 500px;
            border: none;
            border-top: 0.5px solid gray;
        }
    }
    .titleContiner{
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;


        .title{
            display: flex;
            gap: 50px;
            align-items: center;

            img{
                width: 300px;
                height: 100px;
                border-radius: 50px;
                object-fit: cover;
            }

            h1{
                font-size: 96px;
                font-weight: 100;
            }

            button{
                width: 300px;
                height: 100px;
                border-radius: 50px;
                background-color: orange;
                border: none;
                color: white;
                font-size: 24px;
                cursor: pointer;

            }

        }
        
    }
    .listeContiner {
        flex: 2;
        max-width: 1400px;
        margin: auto;
        display: flex;
        flex-wrap: wrap; // Permet de passer à la ligne si nécessaire
    
        .box {
            padding: 50px;
            border: 0.5px solid gray;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: calc(33% - 20px); // Pour 3 colonnes avec espace
    
            img {
                width: 170px;
                height: 180px;
                object-fit: cover;
                margin-bottom: 10px; // Espace sous l'image
                align-self: center; // Centre l'image horizontalement
            }
            
            h2 {
                display: flex;
                justify-content: center; // Centre le texte
                text-align: center; // Centre le texte
                font-size: 20px; // Ajuste la taille si nécessaire
            }
    
           
        }
    }

}