.parallax {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center;
    overflow: hidden;
    text-align: center;
    flex-direction: column;

    h1 {
        font-size: 100px;
        color: white; // Assurez-vous que le texte est visible
        z-index: 4; // Placer au-dessus des autres éléments
    }

    .mountains {
        background-image: url("/mountains.png");
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3;
    }

    .planets {
        background-image: url("/planets.png");
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
    }

    .stars {
        background-image: url("/stars.png");
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
    }
}
